@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
  font-family: 'Poppins', Lato, sans-serif;
  padding: 2em;
  display: grid;
  place-items: center;
}

h1 {
  font-weight: 800;
  font-size: 3em;
  text-transform: uppercase;
}
