@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap');
body {
  font-family: 'Orbitron', Lato, sans-serif;
  padding: 2em;
  display: grid;
  place-items: center;
}

h1 {
  font-weight: 800;
  font-size: 3em;
  text-transform: uppercase;
}

.counter {
  font-size: 1.5em;
  display: flex;
  margin: 0.5em;
}
button {
  border: 0;
  width: 60px;
  height: 50px;
  margin: 5px;
  font-size: 20px;
}
button.decrement {
  /* color palette: https://coolors.co/ffadad-ffd6a5-fdffb6-caffbf-9bf6ff-a0c4ff-bdb2ff-ffc6ff-fffffc */
  background-color: #ffadad;
}
button.increment {
  background-color: #a0c4ff;
}

.digit {
  display: flex;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
